<div class="card-body">
    <div class="row " style="    background: #f62d51; padding: 16px;     margin-left: -20px;margin-right: -20px;">
        <h5 style="color: #fff;     margin-top: 10px;"> Pool Photo </h5>
    </div>

    <div class="row">
        <div class="col-md-12">

        </div>
    </div>
</div>