<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-5 align-self-center">
                <h4 class="page-title">Setting</h4>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">SPA Setting</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="col-7 align-self-center">
          
            </div>
        </div>
    </div>
 
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div id="settings_area">
                        <div id="settings_area">
                            <div class="card-body">
                                <h4 class="card-title">Spa  Setting</h4>
                                <div class="table-responsive">
                                    <%=render "form"%>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
