<div class="col-md-12" style="background: #3776fb; color: #fff; border-radius: 5px; margin-top: 20px; border: 1px solid #ddd"> 
    <div class="col-md-12">
        <div class="row">

            <div class="col-md-6" style=" padding: 14px;
                 font-size: 15px;
                 font-weight: bold;">
                Invoice Billing - will invoice when job is completed
            </div>

            <div class="col-md-6" style=" padding: 14px;
                 font-size: 15px;
                 font-weight: bold;">
                <a class="btn btn-primary"  href="<%= invoices_url()%>"
                   style="background: #dac616e8; float: right;"> 
                    List Invoices
                </a>
                <a class="btn btn-primary" style="background: brown; float: right;"> New Invoice</a>
            </div>

            <% if !@job.blank? %>
              <div class="col-md-12" >
                  <div>
                      <% @job.job_assign_visits.each do |visit| %>
                        <div class="row" style="margin-top: 10px">

                        </div>
                      <% end %>
                  </div>

              </div>
            <% end %>
        </div>
    </div>
</div>