
<div> 
    <div class="page-breadcrumb" >
        <div class="row">
            <div class="col-5 align-self-center">
                <h4 class="page-title">Create Estimate</h4>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="<%= dashboard_url %>">Dashboards</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Estimate</li>
                        </ol>
                    </nav>
                </div>
            </div>

        </div>
   
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title" style="text-align: center;">Create Estimates</h4>
                            <h6 class="card-subtitle"></h6>
                        </div>
                        <hr>
                       
                        <%= form_for @job, url: jobs_url do |f| %>
                          <%= render 'jobs/form', f: f %>
                        <% end %>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>