<div class="page-wrapper">

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-5 align-self-center">
                <h4 class="page-title">Market Source</h4>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Market Source</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="col-7 align-self-center">

            </div>
        </div>

        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <div class="card">

                        <%= form_for @pool_setting,url: settings_pool_setting_url ,:class=>" form-horizontal " do |f|%>

                          <div id="settings_area"> 
                              <div class="card-body">

                                  <h4 class="card-title">Edit Market Sources</h4>
                                  <div class="form-group row">

                                      <label for="expense_cost" id="popover_left" class="col-sm-3 text-right control-label col-form-label">Market Sources</label>
                                      <div class="col-sm-9" id="popover_left">
                                          <%= f.text_field :name,class: "form-control", autofocus: "autofocus" ,:required=>true%>
                                        </div>
                                    </div>
                                    <div class="card-body" >
                                        <div class="form-group m-b-0 text-right">
                                            <%= button_tag "Update",:class=>"btn btn-info waves-effect waves-light"%>	
                                        </div>
                                    </div>
                                </div>
                              <% end %>
                          </div>
                      </div>
                  </div>
              </div>
          </div>


