<div class="contact_wrapper">
    <div class="contact_inner" style="    margin-top: 80px;">
        <div class="row">
            <div class="col-lg-5">
                <div class="map_side"></div>

            </div>
            <div class="col-lg-7">


                <div class="info_side">
                    <h2 class="text-white text-uppercase">Contact Us</h2>
                    <div class="address_wrapper d-flex align-items-center text-center justify-content-center">
                        <div class="email">
                            <i class="fas fa-envelope"></i>
                            <h6>Email</h6>
                            <p>support@PoolPath.net</p>
                        </div>
                        <div class="phone mx-5">
                            <i class="fa fa-phone"></i>
                            <h6>Phone</h6>
                            <p>916-596-4200</p>
                        </div>
                        <div class="address">
                            <i class="fas fa-map-marker-alt"></i>
                            <h6>Address</h6>
                            <p>717 K Street Sacramento, CA 95814
                            </p>
                        </div>
                    </div>

                    <input type="email" placeholder="Your Email">
                    <input type="text" placeholder="Phone Number">
                    <select name="" id="">
                        <option value="" selected disabled>What's this about</option>
                        <option value="">Sales</option>
                        <option value="">Support</option>
                        <option value="">Partnership</option>
                    </select>

                    <input type="text" placeholder="what do you need help with?">
                    <div class="decription">
                        <label for="desc">Description</label>
                        <textarea name="" id="desc" cols="30" rows="3"></textarea>
                    </div>
                    <div class="file mt-3">
                        <label for="">Attach File</label>
                        <input type="file" class="m-0 p-0 mb-4">
                    </div>
                    <div class="submit_btn">
                        <button type="submit">Submit</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

