<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">




<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="background-color: #b0c6fd99;">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
    </ol>
    <div class="carousel-inner" style="height: 500px;">

        <div class="carousel-item active" style="
             background: url(assets/slider/1.jpg);
             background-size: cover;
             height: 500px;
             background-position: center;">
            <div class="row align-items-center">
                <div class="container" style=" margin-top:  40px">
                    <div class="col-md-5" style="
                         color: #101010;
                         background: #ffffffd1;
                         border-radius: 5px;
                         padding: 15px 20px;
                         ">
                        <h1>Chemicals</h1>
                        <p class="m-t-40">test results & dosage. Manage inventory.</p>
                        <p style=" text-align: center;"><strong> Scheduling | Estimates | Work Orders | Invoicing | Payments | GPS | Notifications | Route Optimization | Fleet Management </strong></p>              
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item"  style="
             background: url(assets/slider/2.jpg);
             background-size: cover;
             height: 500px;
             background-position: center;">
            <div class="row align-items-center">
                <div class="container" style=" margin-top:  40px">
                    <div class="row">
                        <div class="col-md-7"></div>
                        <div class="col-md-5" style="
                             color: #101010;
                             background: #ffffffd1;
                             border-radius: 5px;
                             padding: 15px 20px;
                             ">
                            <h1>Plan Builder</h1>
                            <p class="m-t-40">Create Service Plans and work flows.</p>
                            <p style=" text-align: center;"><strong> Scheduling | Estimates | Work Orders | Invoicing | Payments | GPS | Notifications | Route Optimization | Fleet Management </strong></p>              
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item" style="
             background: url(assets/slider/1.jpg);
             background-size: cover;
             height: 500px;
             background-position: center;">
            <div class="row align-items-center">
                <div class="container" style="margin-top: 40px">
                    <div class="col-md-5" style="
                         color: #101010;
                         background: #ffffffd1;
                         border-radius: 5px;
                         padding: 15px 20px;
                         ">
                        <h1>Billing</h1>
                        <p class="m-t-40">Accept Credit Cards – No Merchant Account Needed.</p>
                        <p style=" text-align: center;"><strong> Scheduling | Estimates | Work Orders | Invoicing | Payments | GPS | Notifications | Route Optimization | Fleet Management </strong></p>              
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item" style="
             background: url(assets/slider/1.jpg);
             background-size: cover;
             height: 500px;
             background-position: center;">
            <div class="row align-items-center">
                <div class="container" style="margin-top: 40px">
                    <div class="col-md-5" style="
                         color: #101010;
                         background: #ffffffd1;
                         border-radius: 5px;
                         padding: 15px 20px;
                         ">
                        <h1>Manage Ads</h1>
                        <p class="m-t-40">Manage your craigslist ads & others.</p>
                        <p style=" text-align: center;"><strong> Scheduling | Estimates | Work Orders | Invoicing | Payments | GPS | Notifications | Route Optimization | Fleet Management </strong></p>              
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item" style="
             background: url(assets/slider/1.jpg);
             background-size: cover;
             height: 500px;
             background-position: center;">
            <div class="row align-items-center">
                <div class="container" style="margin-top: 40px">
                    <div class="col-md-5" style="
                         color: #101010;
                         background: #ffffffd1;
                         border-radius: 5px;
                         padding: 15px 20px;
                         ">
                        <h1>Lead Generation</h1>
                        <p class="m-t-40">Leads via Google Maps, Emails and Ads</p>
                        <p style=" text-align: center;"><strong> Scheduling | Estimates | Work Orders | Invoicing | Payments | GPS | Notifications | Route Optimization | Fleet Management </strong></p>              
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item" style="
             background: url(assets/slider/1.jpg);
             background-size: cover;
             height: 500px;
             background-position: center;">
            <div class="row align-items-center">
                <div class="container" style="margin-top: 40px">
                    <div class="col-md-5" style="
                         color: #101010;
                         background: #ffffffd1;
                         border-radius: 5px;
                         padding: 15px 20px;
                         ">
                        <h1>Call Manager</h1>
                        <p class="m-t-40">Auto Attendant & Service number for your business.</p>
                        <p style=" text-align: center;"><strong> Scheduling | Estimates | Work Orders | Invoicing | Payments | GPS | Notifications | Route Optimization | Fleet Management </strong></p>              
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true">
                <i class="fa fa-arrow"></i>
            </span>
            <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>
</div>


<section id="feature2" class="feature2 spacer">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <h1>SIMPLIFY YOUR POOL SERVICE BUSINESS.</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 text-center m-t-40">
                <span class="feature-image">
                    <i class="fa fa-bars"></i>
                </span>
                <h4 class="m-t-30">POOL TEST RESULTS</h4>
                <p class="m-t-20">Record pool test results each visit such as Total Hardness, Total & Free Chlorine, Total Bromine, pH, and Total Alkalinity.</p>
            </div>
            <div class="col-lg-4 col-md-6 text-center m-t-40">
                <span class="feature-image">
                    <i class="fa fa-barcode"></i>
                </span>
                <h4 class="m-t-30">CHEMICAL INVENTORY</h4>
                <p class="m-t-20">You can record and access chemicals used on every customer visit and your warehouse inventory levels.</p>
            </div>
            <div class="col-lg-4 col-md-6 text-center m-t-40">
                <span class="feature-image">
                    <i class="fa fa-list-ol"></i>
                </span>
                <h4 class="m-t-30">POOL CHEMICAL USAGE</h4>
                <p class="m-t-20">Notifications via SMS, Evernote, Trello and email. Be on the top of your projects; know when your documents arrive!!</p>
            </div>
        </div>

        <div class="row m-t-40">
            <div class="col-lg-4 col-md-6 text-center m-t-40">
                <span class="feature-image">
                    <i class="fas fa-building"></i>
                </span>
                <h4 class="m-t-30">POOL FILTER CLEANING</h4>
                <p class="m-t-20">Field tech can see the dates of filter cleaning. Know when you last cleaned a filter and when it scheduled next time.</p>
            </div>
            <div class="col-lg-4 col-md-6 text-center m-t-40">
                <span class="feature-image">
                    <i class="fas fa-file-alt"></i>

                </span>
                <h4 class="m-t-30">POOL EQUIPMENT TRACKING</h4>
                <p class="m-t-20">Maintain detailed pool equipment list such as Pool Type Chlorine or Salt, motor type and filter type DE, Sand or Catridge.</p>
            </div>
            <div class="col-lg-4 col-md-6 text-center m-t-40">
                <span class="feature-image">
                    <i class="far fa-money-bill-alt"></i>
                </span>
                <h4 class="m-t-30">SERVICE PLAN BUILDER</h4>
                <p class="m-t-20">Service plan builders interagates necessary tasks need for your field technician as workflow automatically.</p>
            </div>
        </div>
    </div>



</section>

<section  class="feature3 pt-4">
    <div class="container">
        <div class="row justify-content-centers" style="padding-top: 10px">
            <div class="col-md-12 text-center">
                <h1>ALL FEATURES TO RUN YOUR BUSINESS</h1>
            </div>
        </div>
        <div class="owl-carousel">
            <div class="owlcasol-custom"> 
                <i class="fa fa-truck"> </i>
                <h3 class="my-3">Routes Optimized</h3>
                <p>Optimized pool routes make the best use of your resources. Cut costs, streamline your operation, improve customer service levels, reduce CO2 emissions .</p>
            </div>

            <div class="owlcasol-custom">
                <i class="far fa-clock"></i>
                <h3 class="my-3">Time Tracking</h3>
                <p>Use our Timsheets module to track staff hours, select job code, add note and submit for approval. Time tracking module is vailable in our mobile App.</p>
            </div>
            <div class="owlcasol-custom"> 
                <i class="far fa-comments"></i>
                <h3 class="my-3">Team Communication</h3>
                <p>Feature for Internal communications for teams. Email, IM, SMS and push notifications are available to communication with the team.</p>

            </div>
            <div class="owlcasol-custom"> 
                <i class="far fa-file-alt"></i>
                <h3 class="my-3">Contracts & Documents</h3>
                <p>Save and access frequently used customer contracts, documents. Manager internal HR & onboarding paperwork. Access via our mobile App.</p>
            </div>
            <div class="owlcasol-custom"> 
                <i class="far fa-file-pdf"></i>
                <h3 class="my-3">Powerful Reporting</h3>
                <p>Pool results generated by various filers. Reports by date range or by customer. Exporting to PDF, .CSV or Excel or to your cloud storage account for archive.</p>
            </div>
            <div class="owlcasol-custom"> 
                <i class="fa fa-share-alt-square"></i>
                <h3 class="my-3">QuickBooks Integration</h3>
                <p>Easily integrate with Quickbooks. Sync invoices and transactions with QuickBooks with just a few clicks.Export data to CSV for custom needs.</p>
            </div>
            <div class="owlcasol-custom">
                <i class="fas fa-tachometer-alt"></i>
                <h3 class="my-3">Dashboard & Reports</h3>
                <p>Email, attachments activity reports are based on 100% real-time and accurate data.</p>
            </div>
            <div class="owlcasol-custom">
                <i class="fa fa-users"></i>
                <h3 class="my-3">Team Access</h3>
                <p>Setup your team members separate logins to operate the account. Notifications can be setup individually.</p>
            </div>
            <div class="owlcasol-custom">
                <i class="far fa-bell"></i>
                <h3 class="my-3">Notifications</h3>
                <p>Notifications via SMS, Evernote, Trello and email. Be on the top of your projects; know when your documents arrive!!</p>
            </div>
        </div>
    </div>
</section>



<section class="feature4 mt-5">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <h1 class="custom-heading">LEAD GENERATION AND LOCAL MARKETING</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center m-t-40" style="    border-right: 2px solid #ddd;">
                <span class="feature-image">
                    <i class="far fa-folder-open"></i>
                </span>
                <h4 class="m-t-30">LEADS VIA MAPS</h4>
                <p class="m-t-20">Turn neighbors of your existing Clients into Leads directly from the Google maps. Targeted local lead generation will results in long termm ROI as the leads are converted to Clients.</p>
            </div>
            <div class="col-lg-4 col-md-6 text-center m-t-40"  style="    border-right: 2px solid #ddd;">
                <span class="feature-image">
                    <i class="fa fa-upload"></i>
                </span>
                <h4 class="m-t-30">DIRECT MAIL</h4>
                <p class="m-t-20">On-demand direct mail campaign for postcards available from your account to capture additional leads or clients. Feature is a big time saver as postcards are printed and mailed directly.</p>
            </div>
            <div class="col-lg-4 col-md-6 text-center m-t-40">
                <span class="feature-image">
                    <i class="far fa-bell"></i>
                </span>
                <h4 class="m-t-30">LOCAL ADS & ANALYTICS</h4>
                <p class="m-t-20">Manage local CraigsList and other media ads. Monitor response and ROI using our Analytic module that is availbale from your account. Spend AD dollars wisely and plan your campaigns.</p>
            </div>
        </div>
    </div>
</section>

<section  class="feature5 spacer">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center" >
                <h1 style="color: #fff"> Get organized and win more customers</h1>
                <i style="
                   font-size: 80px;
                   color: #fff;
                   padding: 26px;" class="far fa-file-video" type="" data-toggle="modal" data-target="#tour-video"></i>
                <p style=" color: #fff;"> Overview | Video </p>
            </div>

        </div>
    </div>
    <!-- Video Modal -->
    <div class="modal modal-video" id="tour-video" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="video-container">
                        <iframe src="//fast.wistia.net/embed/iframe/qhppubedyj" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="480" height="360"></iframe><script src="//fast.wistia.net/assets/external/E-v1.js" async></script>
                    </div><!--//video-container-->
                </div><!--//modal-body-->
            </div><!--//modal-content-->
        </div><!--//modal-dialog-->
    </div><!--//modal-->    


</section>

<div class="blur_box" style="
     padding-top: 10px;">
    <div class="container">
        <div class="row">
            <!--<div class="col-lg-1 col-md-1 col-sm-1 col-xs-12"></div>-->
            <!-----1------>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="blur_image d-flex align-items-center">
                    <h4>NOTIFIES TO</h4>
                    <ul class="sub">
                        <li><a href="#"><img src="assets/NOTIFIES1.jpg" data-pin-nopin="true"></a></li>
                        <li><a href="#"><img src="assets/NOTIFIES2.jpg" data-pin-nopin="true"></a></li>
                        <li><a href="#"><img src="assets/NOTIFIES3.jpg" data-pin-nopin="true"></a></li>
                    </ul>
                </div>
            </div>
            <!------2----->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="blur_image d-flex align-items-center">
                    <h4 class="text-uppercase">Backsup to</h4>
                    <ul class="sub">
                        <li><a href="#"><img src="assets/BACKSUP1.png" data-pin-nopin="true"></a></li>
                    </ul>
                </div>
            </div>
            <!-------3------>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="blur_image d-flex align-items-center">
                    <h4 class="text-uppercase">Export to</h4>
                    <ul class="sub">
                        <li><a href="#"><img src="assets/EXPORTS1.png"></a></li>
                        <li><a href="#"><img src="assets/EXPORTS2.png"></a></li>
                    </ul>
                </div>
            </div>
            <!------------->
        </div>
    </div>
</div>

