<div class="all_wrapper" style="margin-top: 80px">
    <div class="floating_element-1"></div>
    <div class="floating_element-2"></div>
    <div class="card_outer_wrapper">
        <h2>30 day FREE trial with all plans!</h2>
        <p>CopperService's pricing is simple and you can change your plan at any time.
        </p>
        <div class="card_wrapper d-flex justify-content-center align-items-center">
            <div class="pricing__card">
          
                  <i class="fa fa-user"></i>
                  <h4 class="text-uppercase">Solo</h4>
                  <div class="Card__options">
                      <p>1 User</p>
                      <p>Customer Unlimited</p>
                      <p>Email Notification yes</p>
                      <p>10 GB</p>
                  </div>
                  <hr>

                  <div class="d-flex justify-content-between price_wrapper">
                      <div class="card__price">
                          <h3>$19.95/<small>Month</small></h3>
                      </div>
                      <div class="card__btn">
                        
                          <a class="new_button" href="<%= new_user_url%>"> Sign Up</a>

             
                      </div>
                  </div>
                  <span class="text-center d-block mt-3">30 Days free Trial</span>
            </div>


            <div class="pricing__card">

                <div class="git-fork">
                    <span href="https://gitlab.com/nicktobolski/nicktobolski-resume">Popular</span>
                </div>
               
                  <i class="fa fa-users"></i>
                  <h4 class="text-uppercase">Team</h4>
                  <div class="Card__options">
                      <p>5 Users</p>
                      <p>Customer Unlimited</p>
                      <p>Email Notification yes</p>
                      <p>25 GB</p>
                  </div>
                  <hr>
                  <div class="d-flex justify-content-between price_wrapper">
                      <div class="card__price">
                          <h3>$29.95/<small>Month</small></h3>
                      </div>
                      <div class="card__btn">
                       
                          <a class="new_button" href="<%= new_user_url%>">
                            Sign Up</a>
                    
                      </div>
                  </div>
           
                <span class="text-center d-block mt-3">30 Days free Trial</span>
            </div>


            <div class="pricing__card">
              
                  <i class="fa fa-user"></i>
                  <h4 class="text-uppercase">Business</h4>
                  <div class="Card__options">
                      <p>20 Each Additional User $2</p>
                      <p>Customer Unlimited</p>
                      <p>Email Notification yes</p>
                      <p>100 GB</p>
                  </div>
                  <hr>
                  <div class="d-flex justify-content-between price_wrapper">
                      <div class="card__price">
                          <h3>$49.95/<small>Month</small></h3>
                      </div>
                      <div class="card__btn">
                          
                          <a class="new_button" href="<%= new_user_url%>">
                            Sign Up</a>
                        
                      </div>
                  </div>
                  <span class="text-center d-block mt-3">30 Days free Trial</span>
        
            </div>


        </div>
    </div>

</div>

