

<div class="tour_banner">
    <h1 class="text-uppercase" style="font-weight: bold; color: #fff">How It works</h1>
</div>



<div class="wrap">
    <div class="row">
        <div class="col-md-12">
            <div class="main-timeline9">
                <div class="timeline">
                    <div class="timeline-content">
                        <div class="circle"></div>
                        <div class="content">
                            <h4 class="title">1. consectetur neque</h4>
                            <p class="description">
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lobortis mattis erat, dictum facilisis magna posuere ac. Curabitur consectetur magna mauris, et aliquam lectus ornare nec. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris quis tellus magna.
                            </p>
                            <div class="icon"><span></span></div>
                        </div>
                    </div>
                </div>
                <div class="timeline">
                    <div class="timeline-content">
                        <div class="circle circle-2"></div>
                        <div class="content">
                            <h4 class="title">2. sit amet lacus</h4>
                            <p class="description">
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lobortis mattis erat, dictum facilisis magna posuere ac. Curabitur consectetur magna mauris, et aliquam lectus ornare nec. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris quis tellus magna.
                            </p>
                            <div class="icon"><span></span></div>
                        </div>
                    </div>
                </div>
                <div class="timeline">
                    <div class="timeline-content">
                        <div class="circle circle-3"></div>
                        <div class="content">
                            <h4 class="title">3.  sed tincidunt tortor</h4>
                            <p class="description">
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lobortis mattis erat, dictum facilisis magna posuere ac. Curabitur consectetur magna mauris, et aliquam lectus ornare nec. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris quis tellus magna.
                            </p>
                            <div class="icon"><span></span></div>
                        </div>
                    </div>
                </div>
                <div class="timeline">
                    <div class="timeline-content">
                        <div class="circle circle-4"></div>
                        <div class="content">
                            <h4 class="title">4.ipsum dolor sit amet</h4>
                            <p class="description">
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lobortis mattis erat, dictum facilisis magna posuere ac. Curabitur consectetur magna mauris, et aliquam lectus ornare nec. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris quis tellus magna.
                            </p>
                            <div class="icon"><span></span></div>
                        </div>
                    </div>
                </div>

                <div class="timeline">
                    <div class="timeline-content">
                        <div class="circle circle-5"></div>
                        <div class="content">
                            <h4 class="title">5. purus imperdiet</h4>
                            <p class="description">
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lobortis mattis erat, dictum facilisis magna posuere ac. Curabitur consectetur magna mauris, et aliquam lectus ornare nec. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris quis tellus magna.
                            </p>
                            <div class="icon"><span></span></div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
